@media only screen and (min-device-width : 1000px) and (max-device-width : 2000px) {
    li.dropdown {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
   .forHide {
       display: none;
   }

   #content{
    width: 100%;
   }

   #getStarted {
      width: 100%;
      margin-left: -30px;
      margin-top: -10px;
   }

   #getStarted h5
   {
       font-size: 20px;
   }
   
   #getStarted h1
   {
       font-size: 30px;
   }


   .btn {
       margin-top: 10px;
       margin-bottom: 50px;
   }


   #myImg img {
       width: 300px;
   }
}

@media only screen and (min-width: 600px) {

}














